[submodule "OCA/field-service"]
	path = OCA/field-service
	url = git@github.com:OCA/field-service.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0

[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 12.0

[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/account-invoice-reporting"]
	path = OCA/account-invoice-reporting
	url = git@github.com:OCA/account-invoice-reporting.git
	branch = 12.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 12.0

[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 12.0

[submodule "OCA/contract"]
	path = OCA/contract
	url = git@github.com:OCA/contract.git
	branch = 12.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 12.0

[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 12.0
